.entertainment1{
    background-color: black;
    color: azure;
    margin-top: 2px;
    padding: 10px;
    /* margin-left: 80px;   */
    /* width: 1600px; */
}
.entered{
    display: flex;
    background-color: black;
    padding: 10px;
    color: white;
    gap: 50px;
}
.last1{
    padding: 10px;
}
