.shop{
    display: flex;
    /* padding: 140px; */
    margin-left: 130px;
    gap: 20px;
    justify-content: center;    
    /* border: 2px solid firebrick; */
    height: 230px;
}
.shop1{
    background-color: azure;
    padding: 20px;
    margin-top: 20px;
}
.shop2{
    background-color: azure;
    padding: 10px;
    margin-top: 20px;
}
.shop3{
    background-color: azure;
    padding: 10px;
    margin-top: 20px;
}